.carInfo_section{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	margin-left:10%;
	margin-right:10%;
	margin-top:3%;
	margin-bottom:5%;
}

.carInfo_section .carInfo_string{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	padding: 10px 0px;
	margin-bottom:2%;
}

.carInfo_section .carInfo_string .carInfo_name{
	border-bottom: 2px solid #999;
	font-weight: bold;
	font-size:24px;
}

.carInfo_section .carInfo_string .carInfo_price{
	padding:5px;
	color: #3c9806;
	font-size:18px;
}

.carInfo_section .carInfo_string .buy_request{
	text-align: center;
	border: 1px solid #999;
	border-radius: 5px;
	cursor:pointer;
	padding:5px 10px;
	font-size:18px;
	background:white;
	-webkit-transition: background 0.4s ease;
	-o-transition: background 0.4s ease;
	transition: background 0.4s ease;
}

.carInfo_section .carInfo_string .buy_request:hover{
	background: #ffe0a6;
}

.carInfo_section .carInfo_block{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	    -ms-flex-direction:row;
	        flex-direction:row;
}

.carInfo_section .carInfo_slide_block{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	height:480px; 
	border-radius:5px;
	-webkit-box-shadow: 0 0 2px black;
	        box-shadow: 0 0 2px black;
	width: 680px;
	background:white;
}

.carInfo_slide{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	width:100%;
	border-radius:5px;	
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transition: all.6s ease;
	-o-transition: all.6s ease;
	transition: all.6s ease;
}

.carInfo_prev, .carInfo_next {
  cursor: pointer;
  padding: 10px;
  color: #999;
  font-size:18pt;
  font-weight: bold;
  border-radius: 5px;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
}

.carInfo_prev_next{
	margin: 32% 3% 0% 3%;
	border-radius:5px;	
	display:-webkit-box;	
	display:-ms-flexbox;	
	display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	    -ms-flex-direction:row;
	        flex-direction:row;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
}

.carInfo_prev:hover, .carInfo_next:hover {
  background-color: rgba(0,0,0,0.8);
  color:white;
}


.carInfo_dot_block{
	display: none;
	text-align:center;
	margin-top:28%;
	cursor: default;
}


.carInfo_dot{
	cursor: pointer;
	height: 12px;
	width: 12px;
	text-align:center;
	background-color: #999;
	border-radius: 50%;
	display: inline-block;
	-webkit-transition: background-color 0.6s ease;
	-o-transition: background-color 0.6s ease;
	transition: background-color 0.6s ease;
}

.carInfo_dot:hover{
	background-color:white;
}


.carInfo_section .carInfo_right_block{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	border-radius:5px;
	-webkit-box-flex:1;
	    -ms-flex:1;
	        flex:1;
	margin-left:5%;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start;
	background:white;
}

.carInfo_section .carInfo_right_block .description_info{
	font-size: 20px;
	padding: 5px 0;
	border-bottom: 1px solid #999;
	margin-bottom: 20px;
}

.carInfo_section .carInfo_right_block .description_info_params_main{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	white-space: nowrap;
	margin-bottom: 20px;
	font-size: 16px;
}
.carInfo_section .carInfo_right_block .description_info_params_main i{
	margin-top: 6px;
	font-size: 5px;
	color: #999;
	margin-left: 8px;
	margin-right: 8px;
}

.carInfo_section .carInfo_right_block .description_info_double{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 20px;
}

.carInfo_section .carInfo_right_block .description_info_double .description_info_name{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.carInfo_section .carInfo_right_block .description_info_double .description_info_params{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	white-space: nowrap;
	-webkit-box-flex: 1.5;
	    -ms-flex: 1.5;
	        flex: 1.5;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.carInfo_section .carInfo_right_block .description_info_double .description_info_name span{
	font-size: 16px;
	color: #696969;
}

.carInfo_section .carInfo_right_block .description_info_double .description_info_params span{
	font-size: 16px;
	color: black;
}

.carInfo_section .carInfo_right_block .description_info_double .description_info_params i{
	margin-top: 6px;
	font-size: 5px;
	color: #999;
	margin-left: 8px;
	margin-right: 8px;
}

/*********************************************************/

.carInfo_section .offers{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: start;
		margin-top: 20px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
}

.carInfo_section .offers span{
	font-size: 18px;
	padding: 5px 0;
	margin-right: 5%;
	border-bottom: 1px solid #999;
}

.carInfo_section .offers .offers_div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.carInfo_section .offers .offers_div div{
	font-size: 18px;
	padding: 5px 10px;
	cursor: pointer;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.carInfo_section .offers .offers_div div:hover{
	background: #ffe0a6;
}

.carInfo_section .offers .offers_div div:first-child{
	border-radius: 5px 0px 0px 5px;
}

.carInfo_section .offers .offers_div div:last-child{
	border-radius: 0px 5px 5px 0px;
}

.carInfo_section .offers div:not(.carInfo_section .offers div:last-child){
	border-right: 1px solid #999;
}

@media screen and (max-width: 1400px){

	.carInfo_section{
		margin-top: 2%;
		margin-left:5%;
		margin-right:5%;
	}

	.carInfo_prev_next{
		margin: 36% 3% 0% 3%;
	}

	.carInfo_section .carInfo_slide_block{
		height:430px; 
		width: 550px;
	}

	.carInfo_dot_block{
		margin-top:33%;
	}
}

@media screen and (max-width: 1300px){

	.carInfo_section{
		margin-top: 2%;
		margin-left:2%;
		margin-right:2%;
	}

	.carInfo_prev_next{
		margin: 37% 5% 0% 5%;
	}

	.carInfo_section .carInfo_slide_block{
		height:400px; 
		width: 500px;
	}

}

@media screen and (max-width: 1200px){

	.carInfo_section .carInfo_slide_block{
		height:720px; 
		width: 100%;
	}

	.carInfo_section .carInfo_string .carInfo_name{
		font-size:22px;
	}

	.carInfo_section{
		margin-left: 7%;
		margin-right: 7%;
	}

	.carInfo_section .carInfo_block{
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		    -ms-flex-direction:column;
		        flex-direction:column;
	}

	.carInfo_section .carInfo_right_block{
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
		margin: 20px 0;
	}
	.carInfo_section .carInfo_string{
		margin: 10px 0;
	}


	.carInfo_section .carInfo_right_block span{
		font-size: 18px;
	}

	.carInfo_section .carInfo_right_block .description_info{
		font-size: 22px;
	}

	.carInfo_section .carInfo_right_block .description_info_params_main{
		font-size: 18px;
	}

	.carInfo_section .carInfo_right_block .description_info_double .description_info_name span{
		font-size: 18px;
	}

	.carInfo_section .carInfo_right_block .description_info_double .description_info_params span{
		font-size: 18px;
	}


}

@media screen and (max-width: 1150px){

	.carInfo_section .carInfo_slide_block{
		height:700px; 
	}

}

@media screen and (max-width: 1100px){

	.carInfo_section .carInfo_slide_block{
		height:670px; 
	}

}

@media screen and (max-width: 1050px){

	.carInfo_section .carInfo_slide_block{
		height:640px; 
	}

}

@media screen and (max-width: 1000px){

	.carInfo_section .carInfo_slide_block{
		height:610px; 
	}

}

@media screen and (max-width: 950px){

	.carInfo_section .carInfo_slide_block{
		height:580px; 
	}

}

@media screen and (max-width: 900px){

	.carInfo_section .carInfo_slide_block{
		height:550px; 
	}

}

@media screen and (max-width: 850px){

	.carInfo_section .carInfo_slide_block{
		height:520px; 
	}

}

@media screen and (max-width: 800px){

	.carInfo_section .carInfo_slide_block{
		height:490px; 
	}

}

@media screen and (max-width: 750px){

	.carInfo_section .carInfo_slide_block{
		height:460px; 
	}

}

@media screen and (max-width: 700px){

	.carInfo_section{
		margin: 0;
	}


	.carInfo_section .offers{
			margin-left: 20px;
			margin-bottom: 20px;
	}

	.carInfo_section .carInfo_string .carInfo_name{
		font-size:20px;
	}

	.carInfo_section .carInfo_string .carInfo_name span{
		display: none;
	}

	.carInfo_section .carInfo_string .carInfo_price{
		font-size:18px;
	}

	.carInfo_section .carInfo_string .carInfo_buy{
		font-size:18px;
	}

	.carInfo_section .carInfo_block{
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		    -ms-flex-direction:column;
		        flex-direction:column;
	}

	.carInfo_section .carInfo_right_block{
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
		margin: 20px;
	}
	.carInfo_section .carInfo_string{
		margin: 10px;
	}

	.carInfo_section .carInfo_slide_block{
		height:480px; 
	}

	.carInfo_section_form{
		margin-top: 25%;
	}

	.carInfo_section_form .carInfo_section_form_input{
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		    -ms-flex-direction:column;
		        flex-direction:column;
	}
		
	.carInfo_section_form .carInfo_section_form_input div{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-orient:horizontal;
		-webkit-box-direction:normal;
		    -ms-flex-direction:row;
		        flex-direction:row;
		-webkit-box-align:start;
		    -ms-flex-align:start;
		        align-items:flex-start;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin: 10px 0;
	}

	.carInfo_section_form .carInfo_section_form_input div input{
		border: none;
		width: 60%;
		border-bottom: 1px solid #999;
	}

}

@media screen and (max-width: 650px){

	.carInfo_section .carInfo_slide_block{
		height:450px; 
	}

}

@media screen and (max-width: 600px){

	.carInfo_section .carInfo_slide_block{
		height:420px; 
	}

}

@media screen and (max-width: 550px){

	.carInfo_section .carInfo_slide_block{
		height:390px; 
	}

}

@media screen and (max-width: 500px){

	.carInfo_section .carInfo_slide_block{
		height:360px; 
	}

	.carInfo_section .carInfo_string .carInfo_name{
		font-size:20px;
	}

}

@media screen and (max-width: 450px){

	.carInfo_section .carInfo_slide_block{
		height:330px; 
	}

	.carInfo_section .carInfo_string .carInfo_name{
		font-size:18px;
	}

	.carInfo_section .carInfo_right_block span{
		font-size: 16px;
	}

	.carInfo_section .carInfo_right_block .description_info{
		font-size: 18px;
	}

	.carInfo_section .carInfo_right_block .description_info_params_main{
		font-size: 16px;
	}

	.carInfo_section .carInfo_right_block .description_info_double .description_info_name span{
		font-size: 16px;
	}

	.carInfo_section .carInfo_right_block .description_info_double .description_info_params span{
		font-size: 16px;
	}

	.carInfo_section .offers span{
		font-size: 16px;
	}

	.carInfo_section .offers .offers_div div{
		font-size: 16px;
	}

}

@media screen and (max-width: 400px){

	.carInfo_section .carInfo_slide_block{
		height:290px; 
	}

	.carInfo_section .carInfo_string .carInfo_price{
		font-size:16px;
	}

	.carInfo_section .carInfo_string .carInfo_buy{
		font-size:16px;
	}

}

@media screen and (max-width: 350px){

	.carInfo_section .carInfo_slide_block{
		height:270px; 
	}

}

@media screen and (max-width: 330px){

	.carInfo_section .carInfo_slide_block{
		height:250px; 
	}

}


