.connect_section{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 80%;
	
	background: rgb(0,0,0,0.1);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.connect_section .connect_section_head{
	margin-top: 20px;
	font-size: 24px;
	color: rgb(0,0,0,0.8);
	font-weight: bold;
}

.connect_section form{
	background: white;
	margin-bottom: 40px;
	border-radius: 3px;
	margin-top: 20px;
	padding: 40px 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 45%;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.connect_section form .connect_form_head{
	font-size: 18px;
	width: auto;
	padding: 0 0 5px 0;
	color: rgb(0,0,0,0.8);
	font-weight: bold;
	margin-bottom: 30px;
	
}

.connect_section form .connect_form_column{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
}

.connect_section form .connect_form_column .connection_form_right_margin{
	margin-right: 5%;
}

.connect_section form .connect_form_column div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 30px;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
}

.connect_section form .connect_form_column div input{
	padding: 10px 5px;
	background: none;
	border: none;
	outline: none;
	font-size: 16px;
	border-bottom: 1px solid #999;
	
}

.connect_section form .connect_form_column div span{
	color: rgb(0,0,0,0.8);
	font-size: 14px;
	padding: 10px 5px;
	font-weight: bold;
}

.connect_section form .connect_form_column div #connect_name_warning,
.connect_section form .connect_form_column div #connect_surname_warning,
.connect_section form .connect_form_column div #connect_telephone_warning,
.connect_section form .connect_form_column div #connect_email_warning
{
	display: none;
	font-weight: normal;
	text-align: right;
	color: red;	
}

.connect_section form textarea{
	border: none;
	outline: none;
	width: 100%;
	font-size: 16px;
	height: 200px;
	resize: none;
	padding: 6px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #999;

}

.connect_section form #connect_message_warning{
	display: none;
	padding: 0px 5px;
	width: 100%;
	font-weight: normal;
	text-align: right;
	margin-bottom: 10px;
	color: red;	
}

.connect_section form button{
	border: none;
	outline: none;
	width: 40%;
	padding: 6px;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
	background: white;
	font-size: 16px;
	color: black;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #999;
	
}

.connect_section form button:hover{
	background: #ffe0a6;
}

.connect_section form .connect_form_message_head{
	color: rgb(0,0,0,0.8);
	font-size: 14px;
	padding: 10px 5px;
	font-weight: bold;
}


@media screen and (max-width: 1200px){

	.connect_section form{
		padding: 50px 250px;
	}

	.connect_section form .connect_form_head{
		margin-bottom: 50px;
	}

	.section_customer form .connect_form_column div{
		margin-bottom: 50px;
	}

}

@media screen and (max-width: 1100px){

	.connect_section form{
		padding: 40px 220px;
	}

	.connect_section form .customer_form_head{
		margin-bottom: 40px;
	}

	.connect_section form .customer_form_column div{
		margin-bottom: 40px;
	}
	
}

@media screen and (max-width: 900px){

	.connect_section form{
		padding: 30px 180px;
		width: 50%;
	}

	.connect_section form .customer_form_head{
		margin-bottom: 30px;
	}

	.connect_section form .connect_form_column div{
		margin-bottom: 30px;
	}

	.connect_section form button{
		width: 50%;
	}

	.connect_section form .connect_form_column{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

}

@media screen and (max-width: 750px){

	.connect_section .connect_section_head{
		font-size: 22px;	
	}

	.connect_section form{
		margin-top: 20px;
		padding: 30px;
		width: 90%;
		margin-bottom: 10px;
	}

}