.rem_section{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 70%;
	background: rgb(0,0,0,0.1);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.rem_section .rem_head{
	margin-top: 20px;
	font-size: 24px;
	margin-bottom: 20px;
	color: rgb(0,0,0,0.8);
	font-weight: bold;
}

.rem_section form{
	background: white;
	padding: 0px 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 45%;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.rem_section .rem_form_password{
	margin-bottom: 50px;
}

.rem_section form .rem_form_head{
	margin-top: 30px;
	font-size: 18px;
	width: auto;
	padding: 0 0 5px 0;
	color: rgb(0,0,0,0.8);
	font-weight: bold;
	margin-bottom: 30px;
}

.rem_section form div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 30px;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
}

.rem_section form div span{
	color: rgb(0,0,0,0.8);
	font-size: 14px;
	padding: 10px 5px;
	font-weight: bold;
}

.rem_section form div input{
	padding: 10px 5px;
	background: none;
	border: none;
	outline: none;
	font-size: 16px;
	border-bottom: 1px solid #999;
}

.rem_section form div #rem_email_warning,
.rem_section form div #rem_newpassword_warning,
.rem_section form div #rem_hash_warning
 {
	display: none;
	font-weight: normal;
	text-align: right;
	color: red;	
}

.rem_section form #rem_setPassword, .rem_section form #rem_getHash{
	border: none;
	outline: none;
	margin-left: 30%;
	width: 35%;
	padding: 5px;
	color: black;
	background: white;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
	border: 1px solid #999;
	margin-bottom: 30px;
}

.rem_section form #rem_setPassword:hover{
	background: #ffe0a6;
}

.rem_section form #rem_getHash{
	display: none;
	margin-left: 0;
	margin-top: -20px;
	background: white;
	font-size: 14px;
}

.rem_section form #rem_getHash:hover{
	background: #ffe0a6;
}

@media screen and (max-width: 700px){

	.rem_section form{
		padding: 0px 50px;
		width: 90%;
	}

	.rem_section form #rem_setPassword{
		margin-left: 25%;
		width: 50%;
	}

	.rem_section .rem_head{
		font-size: 22px;
	}

}